
@{
    ViewData["Title"] = "WebIntegrador1";
}

<h1>WebIntegrador1</h1>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1>Probando Creditos</h1>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://www.digitalmanufaktur.com/wp-content/uploads/2020/09/vue3-release-blog.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="https://miro.medium.com/max/3600/1*HSisLuifMO6KbLfPOKtLow.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://miro.medium.com/max/3000/1*-f6StBRZQiuOAz7fdqWFKw.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>

<img src="https://i.pinimg.com/originals/6a/cd/f1/6acdf112254c5e02a7904b8edd5d017e.jpg" />




<div class="container">
    <div class="row">
        <div class="card col" style="width: 18rem;">

            <img src="https://userscontent2.emaze.com/images/41177c5d-7efc-49a9-9df3-48770685f135/bc5f2054b33476aa88adbd8420e2a905.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Seguidor del Sol</h5>
                <p class="card-text">Aqui hay un breve ejemplo de como se realizaria el aplicativo web que controlara el panel solar</p>
                <a href="#" class="btn btn-primary">Ver Mas?</a>
            </div>
        </div>
        <div style="width: 18rem;" class="card col">

            <div class="card-body">
                <h5 class="card-title">Posicion del sol</h5>
                <p class="card-text">5 NE</p>

            </div>
        </div>
        <div class="card col" style="width: 18rem; align-content:end;">

            <div class="card-body">
                <h5 class="card-title">Hora</h5>
                <p class="card-text"> 12:00 PM</p>

            </div>
        </div>
        <div class="card col" style="width: 18rem; align-content:end;">

            <div class="card-body ">
                <h5 class="card-title">Fecha</h5>
                <p class="card-text">12/12/2012</p>

            </div>
        </div>
    </div>
</div>





<div style="align-content:start;">
    <p style="text-align: right;">Center aligned text on all viewport sizes.</p>

</div>


<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - WebCreditosDeber - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
